<form method="POST" action="#/login">
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" name="username" class="form-control" placeholder="username">

    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" name="password" class="form-control" placeholder="password">
    </div>

    <input type="submit" value="Login" class="btn float-right login_btn">
</form>