{{> header}}
{{# if isAuth}}
    <h1 class="text-center">Our Recipes</h1>
    {{# if anyRecipes}}
        {{> recipes}}
    {{else}}
        <div id='foodNotFound'>
            <img src="https://t4.ftcdn.net/jpg/00/62/17/31/240_F_62173114_ozantkVtkPgzL0fxssAkTqKX1FHPr0UW.jpg" />
            <h3>Food not found...</h3>
        </div>
    {{/if}}
{{else}}
    <main role="main" class="inner cover mt-5">
        <h1 class="cover-heading">Coooooking University</h1>
        <p class="lead">They say that food passes through the stomach, we say that food passes through CookUni...
        </p>
    </main>
{{/if}}
{{> footer}}