<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden eventPlaceholder">
    <div class="my-3 p-3">
        <h2 class="display-5">{{name}}</h2>
    </div>
    <div>
        <div class="img"><img class="eventPicture"
                              src="{{imageURL}}" />
        </div>
        <a href="#/events/:{{_id}}" class="eventDetails">More</a>
    </div>
</div>