{{> header}}
<table style="margin: 0 auto; margin-top:5%; margin-bottom: 5%; width: 95%;" class="table table-hover">
    <thead>
    <tr class="bg-warning">
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Details
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    {{#if anyOffers}}
    <tbody>
    {{#each offers}}
        {{> offer}}
    {{/each}}
    {{else}}
    <tr>
        <td style="text-align: center;" colspan="6">
            <h2 style="font-style: italic;">There are no offers, we are very sorry...</h2>
        </td>
    </tr>
    </tbody>
    {{/if}}
</table>
{{> footer}}